[buildout]
extensions = buildout.dumppickedversions mr.developer
auto-checkout = notaliens.core
develop =
extra-paths =
parts =
  scripts

eggs =
    setuptools
    notaliens.core
#    notaliens.people

versions = versions

;newest = false

[sources]
notaliens.core = git https://github.com/sontek/notaliens.core.git
#notaliens.people = git https://github.com/sontek/notaliens.people.git

# update with versions you want to freeze on
[versions]


# it creates appropriate entry_point scripts as defined in eggs setup.py
[scripts]
recipe = zc.recipe.egg
extra-paths = ${buildout:extra-paths}
eggs =
     ${buildout:eggs}

dependent-scripts = true
